In [33]:
import nba_api
import numpy as np
import pandas as pd
import requests
import time

In [22]:
from nba_api.stats.static import teams, players
from nba_api.stats.endpoints import playercareerstats, franchiseplayers, playerestimatedmetrics, commonteamroster, commonallplayers

In [30]:
player_df = pd.DataFrame(players.get_players())
player_df.head()

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

In [18]:
teams_df = pd.DataFrame(teams.get_teams())
teams_df

            id               full_name  ...                 state year_founded
0   1610612737           Atlanta Hawks  ...               Atlanta         1949
1   1610612738          Boston Celtics  ...         Massachusetts         1946
2   1610612739     Cleveland Cavaliers  ...                  Ohio         1970
3   1610612740    New Orleans Pelicans  ...             Louisiana         2002
4   1610612741           Chicago Bulls  ...              Illinois         1966
5   1610612742        Dallas Mavericks  ...                 Texas         1980
6   1610612743          Denver Nuggets  ...              Colorado         1976
7   1610612744   Golden State Warriors  ...            California         1946
8   1610612745         Houston Rockets  ...                 Texas         1967
9   1610612746    Los Angeles Clippers  ...            California         1970
10  1610612747      Los Angeles Lakers  ...            California         1948
11  1610612748              Miami Heat  ...               Florida         1988
12  1610612749         Milwaukee Bucks  ...             Wisconsin         1968
13  1610612750  Minnesota Timberwolves  ...             Minnesota         1989
14  1610612751           Brooklyn Nets  ...              New York         1976
15  1610612752         New York Knicks  ...              New York         1946
16  1610612753           Orlando Magic  ...               Florida         1989
17  1610612754          Indiana Pacers  ...               Indiana         1976
18  1610612755      Philadelphia 76ers  ...          Pennsylvania         1949
19  1610612756            Phoenix Suns  ...               Arizona         1968
20  1610612757  Portland Trail Blazers  ...                Oregon         1970
21  1610612758        Sacramento Kings  ...            California         1948
22  1610612759       San Antonio Spurs  ...                 Texas         1976
23  1610612760   Oklahoma City Thunder  ...              Oklahoma         1967
24  1610612761         Toronto Raptors  ...               Ontario         1995
25  1610612762               Utah Jazz  ...                  Utah         1974
26  1610612763       Memphis Grizzlies  ...             Tennessee         1995
27  1610612764      Washington Wizards  ...  District of Columbia         1961
28  1610612765         Detroit Pistons  ...              Michigan         1948
29  1610612766       Charlotte Hornets  ...        North Carolina         1988

[30 rows x 7 columns]

In [36]:
franchise_players = franchiseplayers.FranchisePlayers(team_id=1610612737)

In [13]:
#What we care about is PEM
pem = playerestimatedmetrics.PlayerEstimatedMetrics(season='1996-97')

In [14]:
pem.get_data_frames()[0]

     PLAYER_ID        PLAYER_NAME  ...  E_USG_PCT_RANK  E_PACE_RANK
0         1086       Joe Stephens  ...              17            1
1          701       Frankie King  ...             386            2
2          917         Jack Haley  ...              92            3
3          725         Dell Demps  ...             213            4
4          968  Priest Lauderdale  ...              13            5
..         ...                ...  ...             ...          ...
441        770          Mark West  ...             374          442
442        238        Tyrone Hill  ...             235          443
443       1099     Matt Steigenga  ...               1          444
444         93               None  ...             443          445
445       1049               None  ...             443          445

[446 rows x 32 columns]

In [26]:
start_header = 1997
start_tail = 98
end = 2020
pem = pd.DataFrame()
while start_header < end:
    season_string = str(start_header) + '-' + str(start_tail)[-2:]
    print(season_string)
    temp = playerestimatedmetrics.PlayerEstimatedMetrics(season=season_string).get_data_frames()[0]
    temp['season'] = season_string
    if pem.empty:
        pem=temp
    else:
        pem = pem.append(temp, ignore_index=True)
    start_header += 1
    start_tail += 1

1997-98
1998-99
1999-00
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20

In [29]:
#Save
pem.to_pickle('./data/pem.pkl')

In [38]:
team_ids = teams_df['id']
start_header = 1997
start_tail = 98
end = 2020
team_roster = pd.DataFrame()
while start_header < end:
    season_string = str(start_header) + '-' + str(start_tail)[-2:]
    for tid in team_ids:
        #This is to avoid overloading api
        time.sleep(1)
        temp = commonteamroster.CommonTeamRoster(team_id=tid, season=season_string, timeout=600).get_data_frames()[0]
        temp['season'] = season_string
        if team_roster.empty:
            team_roster=temp
        else:
            team_roster = team_roster.append(temp, ignore_index=True)
    start_header += 1
    start_tail += 1

In [25]:
commonallplayers.CommonAllPlayers().get_data_frames()[0]

      PERSON_ID  ... OTHERLEAGUE_EXPERIENCE_CH
0         76001  ...                        00
1         76002  ...                        00
2         76003  ...                        00
3            51  ...                        00
4          1505  ...                        00
...         ...  ...                       ...
4592    1627790  ...                        01
4593      78647  ...                        00
4594      78648  ...                        00
4595    1627826  ...                        01
4596      78650  ...                        00

[4597 rows x 14 columns]

In [40]:


team_roster.to_pickle('../data/pulled/team_roster.pkl')